
/* body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
  
button {
  margin-bottom: 10px;
} */

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
}

button {
  margin-bottom: 20px;
}

/* input, select, button{
  border-radius: 3px;
} */

#group1, #group2, #group3, #group4, #group5, #group6, #group7, #group8, #group9, #group10{
  display: none;
}

#titulo{
  font-family: sans-serif;
}




  